* {
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    border: 10px solid #000000;
    border-radius: 10px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 400px;
    height: 400px;
}

.game {
    display: flex;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    background-color: #abcabc;
}

.container {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #abdabd;
}